<header class="flex items-center justify-between ">
  <img src="assets/logo.png" alt="Logo" class=" w-24  sm:w-52 ml-4 mt-4">
  
  <nav>
    <mat-icon 
    class="mat-icon-custom cursor-pointer" 
    (click)="toggleMenu()">
    menu
  </mat-icon>
  
  <div 
    class="menu transition-transform duration-500 transform bg-gray-600 text-white p-4 space-y-4 fixed top-0 right-0  w-48 z-50"
    [ngClass]="{'menu-open': isMenuOpen}">
    
    <mat-icon class="float-right mt-3 " (click)="toggleMenu()">clear</mat-icon>
    <a routerLink="/home" class="hover:text-gray-400 block" (click)="toggleMenu()">HOME</a>
    <a routerLink="/home" (click)="scrollTo('section1');toggleMenu()" class="block">ABOUT</a>
    <a routerLink="/home" (click)="scrollTo('section2');toggleMenu()" class="block">CONTACT</a>
    <a routerLink="/certificates" class="hover:text-gray-400 block" (click)="toggleMenu()">CERTIFICATES</a>
    <a routerLink="/projects" class="hover:text-gray-400 block" (click)="toggleMenu()">PROJECTS</a>
    <a routerLink="/skills" class="hover:text-gray-400 block" (click)="toggleMenu()">SKILLS</a>
  </div>

    <div class="container hidden sm:flex">
      
     
      <ul class="flex space-x-6 font-serif text-xl mr-8  ">
        <li>
          <a class="text-blue-800 sm:text-gray-500" routerLink="/home" routerLinkActive="text-gray-800">HOME</a>
        </li>
        <li>
          <a class="text-gray-500" routerLink="/home" (click)="scrollTo('section1')" >ABOUT</a>
        </li>
        <li>
          <a class="text-gray-500" routerLink="/home" (click)="scrollTo('section2')">CONTACT</a>
        </li>
        <li>
          <a class="text-gray-500" routerLink="/certificates" routerLinkActive="text-gray-800">CERTIFICATES</a>
        </li>
        <li>
          <a class="text-gray-500" routerLink="/projects"routerLinkActive="text-gray-800" >PROJECTS</a>
        </li>
        <li>
          <a class="text-gray-500" routerLink="/skills" routerLinkActive="text-gray-800 ">SKILLS</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<style>
.menu {
  transform: translateX(100%); 
  transition: transform 0.5s ease-in-out;
}

.menu-open {
  transform: translateX(0);
}

.mat-icon-custom {
  cursor: pointer;
  display: none;
}
     @media(max-width:640px) {
      .mat-icon-custom {
      display: flex;
      margin-right: 5vw;
     }
     }
</style>